<!-- app/views/errors/internal_server_error.html.erb -->
<div class="container text-center mt-5">
  <h1>Something Went Wrong (500)</h1>
  <p>We encountered an unexpected error. Please try again later.</p>
  <%= link_to 'Back to Home', root_path, class: "btn btn-primary" %>
</div>
