<!-- app/views/errors/not_found.html.erb -->
<div class="container text-center mt-5">
  <h1>Oops! Page Not Found (404)</h1>
  <p>The page you are looking for does not exist. Please check the URL or return to the homepage.</p>
  <%= link_to 'Back to Home', root_path, class: "btn btn-primary" %>
</div>
