<div class="mb-4 mt-4 mr-5">
    <%= text_field_tag :query, params[:query], class: "form-control", placeholder: "Search products..." %>
    <%= submit_tag "Search", class: "btn btn-primary" %>
</div>
